*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background: rgb(3, 189, 245);
  box-shadow: 15px 15px 100px rgba(0, 0, 0, .5);
  overflow: hidden;

}
.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: rgb(55, 0, 255);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  background: rgb(3, 189, 245);
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: rgb(73, 19, 223);
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
video{
  position: fixed;
  top: 150;
  left: 150;
  width: 250px;
  height: 250px;
}
.heart {
  float: right;
  position: relative;
  width: 100px;
  height: 100px;
  background: #e80202;
  transform: rotate(45deg);
  box-shadow: 15px 15px 100px rgba(0, 0, 0, .5);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(45deg) scale(1);
  }
  20%{
    transform: rotate(45deg) scale(.8);
  }
  40%{
    transform: rotate(45deg) scale(1.2);
  }
  60%{
    transform: rotate(45deg) scale(1);
  }
  80%{
    transform: rotate(45deg) scale(1.3);
  }
  100%{
    transform: rotate(45deg) scale(1);
  }
}
.heart:before{
  content: '';
  position: absolute;
  top: -50px;
  width: 100px;
  height: 50px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.heart:after{
  content: '';
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.heart2 {
  float: initial;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background: #e80202;
  transform: rotate(45deg);
  box-shadow: 15px 15px 100px rgba(0, 0, 0, .5);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(45deg) scale(1);
  }
  20%{
    transform: rotate(45deg) scale(.8);
  }
  40%{
    transform: rotate(45deg) scale(1.2);
  }
  60%{
    transform: rotate(45deg) scale(1);
  }
  80%{
    transform: rotate(45deg) scale(1.3);
  }
  100%{
    transform: rotate(45deg) scale(1);
  }
}
.heart2:before{
  content: '';
  position: absolute;
  top: -50px;
  width: 100px;
  height: 50px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.heart2:after{
  content: '';
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.heart3 {
  float: right;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  background: #e80202;
  transform: rotate(45deg);
  box-shadow: 15px 15px 100px rgba(0, 0, 0, .5);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(45deg) scale(1);
  }
  20%{
    transform: rotate(45deg) scale(.8);
  }
  40%{
    transform: rotate(45deg) scale(1.2);
  }
  60%{
    transform: rotate(45deg) scale(1);
  }
  80%{
    transform: rotate(45deg) scale(1.3);
  }
  100%{
    transform: rotate(45deg) scale(1);
  }
}
.heart3:before{
  content: '';
  position: absolute;
  top: -50px;
  width: 100px;
  height: 50px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.heart3:after{
  content: '';
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100px;
  background: #e80202;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
